/* SPDX-License-Identifier: CC0-1.0 */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color: rgb(50, 205, 50);
}


li {
    color: blue;
}


a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    color: rgb(50, 205, 50);
    font-weight: bold;
}
